<%= form_for([@client,@form,@authemp])  do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- COMMENT LATER -->
	<div class="table">
		<table>
			<tr>
				<th class="top" colspan="2">
					Energy Control Procedure
				</th>
			</tr>
			<tr>
				<td class="tleft w20">
					Equipment Name:
				</td>
				<td class="tleft">
					<%= f.text_field :equip_name, :class=>"field w99" %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Equipment ID:
				</td>
				<td class="tleft">
					<%= f.text_field :equip_id, :class=>"field w99" %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Equipment Location:
				</td>
				<td class="tleft">
					<%= f.text_field :equip_location, :class=>"field w99" %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Date of Assessment:
				</td>
				<td class="tleft">
					<%= f.date_select :assess_date, :class=>"field w99" %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Tasks to be Performed:
				</td>
				<td class="tleft">
					<%= f.text_area :tasks_performed, :class=>"area w99" %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Persons Performing the Assessment:
				</td>
				<td class="tleft">
					<%= f.text_area :assessor, :class=>"area w99" %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Form Actions:
				</td>
				<!-- COMMENT LATER -->
				<td class="tcenter">
					<ul class="menu w100">
						<li><%= f.submit 'Save Form', :class=>"link2" %></li>
						<li><%= link_to 'Back to Form List', client_path(@client) , :class=>"link2" %></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
<% end %>
