<div class="table">
		<table>
			<tr>
				<th class="top" colspan="2">
					Energy Control Procedure
				</th>
			</tr>
			<tr>
				<td class="tleft w20">
					Equipment Name:
				</td>
				<td class="tleft">
					<%= @form.equip_name %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Equipment ID:
				</td>
				<td class="tleft">
					<%= @form.equip_id %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Equipment Location:
				</td>
				<td class="tleft">
					<%= @form.equip_location %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Date of Assessment:
				</td>
				<td class="tleft">
					<%= @form.assess_date %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Tasks to be Performed:
				</td>
				<td class="tleft">
					<%= @form.tasks_performed %>
				</td>
			</tr>
			<tr>
				<td class="tleft">
					Persons Performing the Assessment:
				</td>
				<td class="tleft">
					<%= @form.assessor %>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="tcenter sub" colspan="2">
					Table A - Identification of Hazardous Energies
				</td>
			</tr>
			<tr>
				<td class="w50">
					<table class="checkbox1">
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.elec_highvolt) %>
							</td>
							<td class="tleft">
								Electrical - High Voltage (600V or more) <%= @form.highvolt_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.elec_lowvolt) %>
							</td>
							<td class="tleft">
								Electrical - Low Voltage (50V - 600V) <%= @form.lowvolt_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.chem_hazmat) %>
							</td>
							<td class="tleft">
								Chemicals, Gases - Hazardous Materials <%= @form.hazmat_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.mech) %>
							</td>
							<td class="tleft">
								Mechanical - Shearing, pinching, rolling <%= @form.mech_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">	 
								<%= check_a_box(@form.stored_engy) %>
							</td>
							<td class="tleft">
								Stored Energy - Springs, capacitors, batteries <%= @form.stored_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.therm_cryo) %>
							</td>
							<td class="tleft">
								Thermal - Cryogenics - temp below 32°F/O°C <%= @form.cryo_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.therm_high) %>
							</td>
							<td class="tleft">
								Thermal - Temperature above 140°F/60°C <%= @form.high_text %>
							</td>
						</tr>
					</table>
				</td>
				<td class="w50">
					<table class="checkbox1">
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.press_hyd) %>
							</td>
							<td class="tleft"> 
								Pressure - Hydraulic (oil, water) <%= @form.hyd_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.press_pneu) %>
							</td>
							<td class="tleft">
								Pressure - Pneumatic (air, gas) <%= @form.pneu_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.vacuum) %>
							</td>
							<td class="tleft">
								Vacuum - PRessure @ mTorr <%= @form.vac_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.ion_rad) %>
							</td>
							<td class="tleft">
								Ionizing Radiation - X-Ray sources <%= @form.rad_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.non_rad_uv) %>
							</td>
							<td class="tleft">
								Non-Ionizing Radiation - UV, IR <%= @form.uv_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.non_rad_rf) %>
							</td>
							<td class="tleft">
								Non-Ionizing Radiation - RF, Lasers <%= @form.rf_text %>
							</td>
						</tr>
						<tr>
							<td class="tleft">
								<%= check_a_box(@form.other) %>
							</td>
							<td class="tleft">
								Other: <%= @form.other_text %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<table>
				<th class="top" colspan="2">
					Table B: Basic Lockout/Tagout Procedures:
				</th>
				<tr colspan="2"> Review and perform you Lockout/Tagout by following these steps.</tr>
				<tr>
					<td class="tleft sub">Lockout Procedure Steps</td>
					<td class="tleft sub">Procedure To Return Equipment To Operation</td>
				</tr>
				<tr>
					<td class="tleft">
						<ul>
							<li>1.	Read and Understand this Energy Control Procedure</li>
							<li>2.	Get all applicable Lockout and Tagout (LOTO) Devices</li>
							<li>3.	Notify Affected Persons then Initiate Shutdown Sequence according to Table C</li>
							<li>4.	List hazardous energy in Column A (from Table A)</li>
							<li>5.	List energy control point(s) in Column B</li>
							<li>6.	Apply LOTO devices indicated in Column “C”</li>
							<li>7.	Dissipate or release any residual energy per Column “D”</li>
							<li>8.	Validate “zero energy state” per instructions in Column “E”</li>
						</ul>
					</td>
					<td class="tleft">
						<ul>
							<li>1.	Inspect each energy source area and remove all tools, parts, or other items used during the maintenance activity</li>
							<li>2.	Replace all safety devices (covers, guards, interlocks, emergency stops)</li>
							<li>3.	Remove LOTO devices and re-energize equipment</li>
							<li>4.	Test all safety devices for proper operation</li>
							<li>5.	Notify Affected Persons equipment ready for use</li>
						</ul>
					</td>
				</tr>
			</table>
			<table>
				<th class="top" colspan="6">
					Table C: Shutdown Sequence and Specific Procedures
				</th>
				<tr>
					<td class="tleft w10 sub">
							Step #
					</td>
					<td class="tleft w15 sub">
							Hazardous Energy and Locations
					</td>
					<td class="tleft w15 sub">
							Energy Control Points
					</td>
					<td class="tleft w15 sub">
							Lockout Device
					</td>		
					<td class="tleft w15 sub">
							Dissipation or Release of Residual Energies
					</td>	
					<td class="tleft w15 sub">
							Validation of Zero Energy State
					</td>
				</tr>
			</table>
			<%= div_for(@procedures) do |procedure| %>
				<table>
					<tr>
						<td class="tleft w10">
							<%= procedure.step_num %>
						</td>
						<td class="tleft w15">
							<%= procedure.haz_eng_loc %>
						</td>
						<td class="tleft w15">
							<%= procedure.engy_ctrl_pt %>
						</td>
						<td class="tleft w15">
							<%= procedure.lo_dev %>
						</td>
						<td class="tleft w15">
							<%= procedure.resid_engy %>
						</td>
						<td class="tleft w15">
							<%= procedure.valid_zero %>
						</td>
					</tr>
					<tr>
						<td class="tcenter" colspan="6">
							<%= image_check(procedure.image) %>
						</td>
					</tr>
				</table>
			<% end %>
			<table>
				<th class="top" colspan="2">
					Table D: Authorized Employees
				</th>
				<tr>
					<td class="tleft w50 sub">
							Name:
					</td>
					<td class="tleft w50 sub">
							Title:
					</td>
				</tr>
			</table>
			<%= div_for(@form.authemps) do |ae| %>
				<table>
					<tr> 
						<td class="tleft w50">
							<%= ae.name %>
						</td>
						<td class="tleft w50">
							<%= ae.title %>
						</td>
					</tr>	
				</table>
			<% end %>
			<table>
				<th>Transfer of the Control of LOTO Devices during Change of Shift:</th>
				<tr><td>If this procedure lasts more than one work shift, the arriving shift employees will apply their locks and tags before the departing shift employees remove their locks and tags. In addition, the arriving shift authorized employee(s) will review and verify that the procedures listed above have been followed and are still in place.</td></tr> 
			<table>
			<tr>
				<td class="tleft">
					Form Actions:
				</td>
				<!-- COMMENT LATER -->
				<td class="tcenter">
					<ul class="menu w100">
						<li><%= link_to 'Back to Form List', client_path(@client) , :class=>"link2" %></li>
					</ul>
				</td>
			</tr>
		</table>
	</div>